VITE_SUPABASE_URL=https://vhhlvmgpcmhotqmwkhmc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoaGx2bWdwY21ob3RxbXdraG1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNjEyMTgsImV4cCI6MjA3NDczNzIxOH0.KkRWP4J_GMxo4s6K4_RCdFGQOSbKjNVGfpXoiJeRQOw
VITE_ENCUESTA_API=https://script.google.com/macros/s/AKfycby429ZjoadlEeNqpn2o2XDneHkUJhZE8hMtBA0akXEnWhtJvRGMkBIA8GtiNRAQtYLg/exec
VITE_FUNCTIONS_BASE=https://vhhlvmgpcmhotqmwkhmc.supabase.co/functions/v1/